<%- include header %>
<form class="form" role="form" method="post">
   用户名：</br>
   <input type="text" class="form-control" name="name" value="<%= user.name %>" disabled="disabled"/><br />
   E-Mail: </br>
   <input type="email" class="form-control" name="email" value="<%= user.email %>"/><br />
   <input class="btn btn-info" type="submit" value="保存修改" role="button"/>
</form>
<%- include footer %>