<%- include header %>
<div class="taglist">
  <div class="w95" id="tags">
  <% posts.forEach(function (tag, index) { %>
    <a href="/tags/<%= tag %>"><%= tag %></a>
  <% }) %>
  </div>
</div>
<%- include footer %>