<%- include header %>
<form class="archive" method="post" action="/upload" enctype="multipart/form-data" >          <% /*enctype='multipart/form-data'文字上传必须*/ %>
  <input type="file" name="file1"/><br>
  <input type="file" name="file2"/><br>
  <input type="file" name="file3"/><br>
  <input type="file" name="file4"/><br>
  <input type="file" name="file5"/><br>
  <input class="btn btn-info" type="submit" />
</form>
<%- include footer %>